body {
  background-color:lightblue;
  text-align: center;
  border-radius: 10px;
  font-family: Arial;
   background-image: url("ted.jpg");
}

h1{
  background-color:azure;
  background-image: url("ted.jpg");
 
  
}