body {
  background-color:lightblue;
  text-align: center;
  border-radius: 10px;
  font-family: Arial;
   background-image: url("ted.jpg");
}

h1{
  color: aliceblue;
  background-color:azure;
  background-image: url("ted.jpg");
  background-size: 75px;
  background-height: 200px;
  background-length: 200px;
  
}